# Utility packages
requests
simplejson
deprecation

# Error tracking
sentry-sdk

# Test requirements
pytest
pytest-cov
pytest-dependency

# Documentation requirements
mkdocs
mkdocstrings
mkdocs-material
mike
